nav {
    background-color: lightskyblue;
    height: 85px
}

.header {
    color: #448aff
}

.sidenav-trigger {
    color: blue
}

.parallax-container {
    min-height: 700px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, 9)
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%
    }

    #index-banner .section {
        top: 10%
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px
}

.icon-block .material-icons {
    font-size: inherit
}

.material-icons {
    color: #0277bd;
    font-size: 30px
}

footer a {
    color: #0d2427
}

.page-footer {
    background-color: lightskyblue
}

body {
    margin: 0;
    padding: 0;
    background: rgb(227, 238, 241);
    background-size: cover;
    font-family: sans-serif;
}

.loginBox {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 440px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: #80deea;
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);

}

h6 {
    margin: 0;
    padding: 0 0 10px;
    color: lightslategray;
    text-align: center;
}

h5 {
    color: rgb(36, 100, 138);
}

h4 {
    margin: 0;
    padding: 0 0 10px;
    color: rgb(36, 100, 138);
    text-align: center;

}

h3 {
    color: rgb(36, 100, 138);
}

h2 {
    color: rgb(127, 204, 255);
}

.loginBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

::placeholder {
    color: rgba(255, 255, 255, .5);
}

.loginBox input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #1e88e5;
    cursor: pointer;

    border-radius: 20px;
}

.loginBox input[type="button"]:hover {
    background: #82b1ff;
    color: #262626;
}

.loginBox a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.btn-large {
    border: none;
    outline: none;
    height: 50px;
    color: #fff;
    font-size: 16px;
    background: #1e88e5;
    cursor: pointer;
    border-radius: 20px;

}

.btn-large :hover {
    background: #fff;
    color: #1e88e5;
}

.circular--square {
    border-top-left-radius: 10% 10%;
    border-top-right-radius: 10% 10%;
    border-bottom-right-radius: 10% 10%;
    border-bottom-left-radius: 10% 10%;
}

.loginBoxy {
    position: absolute;
    top: 80%;

    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    height: 500px;
    padding: 80px 40px;

    box-sizing: border-box;
    background: #a3c5ce;
}

.loginBoxy input[type="text"] {
    border: inherit;
    border-bottom: 1px solid #fff;
    background: rgb(230, 248, 248);
}

.loginBoxy input[type="button"] {
    border: none;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 14px;
    background: #1e88e5;
    cursor: pointer;
    border-radius: 20px;
}

.loginBoxy input[type="button"]:hover {
    background: #fff;
    color: #1e88e5;
}

.loginBoxy a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.btn modal-trigger {
    color: lightskyblue;
}

#panelcita,#panelreceta,#panelmedicamento,#panelpaciente {
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    border: solid 1px #8a8989;
    padding: 10px;
    display: none;
}